name: CI

on:
  push:
  workflow_dispatch:

jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: 17
      - uses: actions/setup-go@v3
        with:
          go-version: 1.18
      - name: libcore
        env:
          CC: /usr/local/lib/android/sdk/ndk/25.2.9519653/toolchains/llvm/prebuilt/linux-x86_64/bin/aarch64-linux-android21-clang
          GOOS: android
          GOARCH: arm64
          CGO_ENABLED: 1
          CFLAGS: -O3
        run: |
          mkdir -p app/libs/arm64-v8a/
          cd core/src/golang
          go build -buildmode c-shared -trimpath -o ../../build/outputs/golang/fossRelease/arm64-v8a/libclash.so -ldflags "-s -w" cfa
          cp -r ../../build/outputs/golang/fossRelease/arm64-v8a/libclash.so ../../../app/libs/arm64-v8a/
      - uses: gradle/gradle-build-action@v2
        with:
          arguments: app:assembleRelease
          cache-disabled: true
      - name: prepare
        run: |
          APK=$(find . -name '*arm64-v8a-release.apk')
          echo "APK=$APK" >> $GITHUB_ENV
      - uses: actions/upload-artifact@v3
        with:
          name: APK
          path: ${{ env.APK }}
